.game-square {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: solid 2px;
  text-align: center;
  padding: 20px;
  font-size: xxx-large;
  font-family: sans-serif;
}

.game-square:hover {
  background-color: lightgray;
}

.game-square:active {
  background-color: gray;
}

.gameboard {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid;
}
