.game-square {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: solid 2px;
  text-align: center;
  padding: 20px;
  font-size: xxx-large;
  font-family: sans-serif;
}

.game-square:hover {
  background-color: lightgray;
}

.game-square:active {
  background-color: gray;
}

.gameboard {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.win-message {
  position: fixed;
  height: 300px;
  width: 300px;
  background-color: rgba(29, 167, 38, 0.5);
}

.win-highlight {
  background-color: rgba(29, 167, 38, 0.5);
}

.draw-message {
  position: fixed;
  height: 300px;
  width: 300px;
  background-color: rgba(50, 50, 50, 0.5);
}

.hidden {
  display: none;
}
